<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<% const description = page.description || config.description;
if (description) { %>
<meta name="description" content="<%= description %>">
<% }
if (config.author) { %>
<meta name="author" content="<%= config.author %>">
<% }
const ogTitle = page.title || config.title;
if (ogTitle) { %>
<meta property="og:title" content="<%= ogTitle %>">
<% }
if (description) { %>
<meta property="og:description" content="<%= description %>">
<% } %>
<meta property="og:site_name" content="<%= config.title %>">
<meta property="og:type" content="<%= page.title ? 'article' : 'website' %>">
<% const cover = page.share_cover || config.cover;
if (cover) { %>
<meta property="og:image" content="<%= config.url %><%= cover %>">
<% } %>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<%
const title = [
  page.title,
  page.category,
  page.tag,
].filter(Boolean);
if (page.archive) {
  if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
  else title.push(__('archive_a'));
}
title.push(config.title);
if (is_home() && config.subtitle) title.push(config.subtitle);
%>
<title><%= title.join(' - ') %></title>
<link rel="shortcut icon" href="<%- url_for(config.favicon || theme.favicon) %>">
<%- css('css/style') %>
<% if (config.google_ad) { %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: <%- JSON.stringify(config.google_ad) %>,
    enable_page_level_ads: true
  });
</script>
<% } %>
</head>
