<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/nav') %>
<%- body %>
<%- partial('_partial/footer') %>
<%- partial('_partial/scripts') %>
</body>
</html>
